h1 {
    font-size: 20px;
}

code {
    background: #eee;
    color: #d63384;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.9rem;
}

pre code {
    border-radius: 8px;
}

p {
    padding: 8px 16px;
    border-radius: 20px;
    margin: 2px 0;
}

.loader-model {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #000;
    box-shadow: 0 0 0 0 #0004;
    animation: loader-model-one 1s infinite;
}

@keyframes loader-model-one {
    100% {
        box-shadow: 0 0 0 30px #0000
    }
}

.stream-chunk {
    animation: chunkFadeIn 0.2s ease-out;
}

@keyframes chunkFadeIn {
    from {
        opacity: 0;
        transform: translateY(1px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}