h1 {
    font-size: 20px;
}

code {
    background: #eee;
    color: #d63384;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.9rem;
}

pre code {
    border-radius: 8px;
}

p {
    padding: 8px 16px;
    border-radius: 20px;
    margin: 2px 0;
}

.avianca-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 16px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

thead {
  background-color: #FF0000; 
  color: #FFFFFF; 
}

th, td {
  padding: 12px 16px;
  border: 1px solid #000000; 
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9; 
}

tbody tr:hover {
  background-color: #FFE5E5; 
}

td.highlight {
  background-color: #FF0000;
  color: #FFFFFF;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  th, td {
    padding: 8px 10px;
  }
}

.loader-model {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #000;
    box-shadow: 0 0 0 0 #0004;
    animation: loader-model-one 1s infinite;
}

@keyframes loader-model-one {
    100% {
        box-shadow: 0 0 0 30px #0000
    }
}