.page-container {
    min-height: 100dvh;
    width: 100%;
    background-color: #f8fafc;
    position: relative;
}

.fade-grid-bg {
    position: absolute;
    inset: 0;
    z-index: 0;

    background-image:
        linear-gradient(to right, #e2e8f0 1px, transparent 1px),
        linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);

    background-size: 20px 30px;

    /* Fade superior redondeado */
    -webkit-mask-image: radial-gradient(ellipse 70% 60% at 50% 0%,
            #000 60%,
            transparent 100%);

    mask-image: radial-gradient(ellipse 70% 60% at 50% 0%,
            #000 60%,
            transparent 100%);
}